* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #232831;
  color: white;
}

div#listeningmusic.active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 100%;
}

div#listeningmusic {
  display: none;
}

div#listeningmusic button,div#listeningmusic button img {
  width: 25px;
  height: 25px;
  margin: 10px 0 10px 0;
}
div#listeningmusic img.imageSelect {
  height: 20em;
  margin: 0 0 30px 0;
}

div#listeningmusic input {
  height: 3px;
  width: 20rem;
  margin: 450px 0 0 0;
}

div#listeningmusic input::-webkit-slider-thumb {
  box-shadow: -100px 0 0 100px green;
}

div#listeningmusic p {
  white-space: nowrap;
  text-align: center;
}

div#container.active{
  display: none;
}

div#list ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: yellow;
  border-bottom: 2px solid yellow;
  height: 2rem;
  width: 7rem;
}

div#containermusic {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 10px 0;
  text-align: center;
}

button {
  display: flex;
  align-items: center;
  background-color: #232831;
  color: white;
  border: none;
  height: 5.5rem;
  width: 100%;
}

button img {
  border: none;
  height: 4rem;
  margin: 0 1rem;
}

div#listening {
  display: none;
  position: fixed;
  align-items: center;
  background-color: #1d2324;
  height: 4em;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

input {
  -webkit-appearance: none;
  position: absolute;
  background: lightgray;
  height: 2px;
  width: 100%;
  margin: -65px 0 0 0;
  overflow: hidden;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1px;
  cursor: pointer;
  box-shadow: -400px 0 0 400px green;
}

div#listening img {
  height: 100%;
}

div#listening p {
  margin: 0 10px;
}

footer {
  background-color: #000000;
  height: auto;
  width: 100%;
  left: 0;
  bottom: 0;
}

footer main {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

footer main h2 {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

div#listening.active {
  display: flex;
}
img.active {
  border: 1px solid yellow;
  border-radius: 1px;
}
footer.active {
  height: 150px;
}